* {
    padding: 0;
    margin: 0;
}

body {
    height: 600px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 25px;
    font-family: 'Brush Script MT', cursive;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(222,147,65,1) 51%, rgba(95,184,174,1) 79%, rgba(0,212,255,1) 100%);
}

h1 {
    font-size: 48px;
}

.container {
    border: 1px solid black;
    display:flex;
    width: 600px; 
    height: 600px; 
    flex-wrap: wrap;
}

.square {
    box-sizing: border-box;
    display: flex;
    border: 1px solid lightgray;
}

.grid-details{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 50px;
}

button, label {
    background-color: skyblue;
    border: 1px solid skyblue;
    border-radius: 10px;
    padding: 5px;
}

.clr-box{
    display: flex;
    align-items: center;
    gap: 5px;
}

#color{
    background-color: orange;
}